name: Flutter Analyze

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.0' # change if needed

      - name: Get packages
        run: flutter pub get

      - name: Run analyzer
        run: flutter analyze